@use "./variables" as *;

#actionsSection {
  z-index: 800;
}

#hs-sidebar-basic-usage {
  z-index: 900;
}

.actions-nav__header {
  padding-block: 15px;
  padding-inline: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $primary-color;
  border-radius: 6px;
  @apply shadow-md;
  height: 64px;
  z-index: 800;

  img {
    max-height: 50px;
    width: auto;
    object-fit: contain;
  }
}

.resist-sidebar__toggle {
  @apply py-2 px-3 inline-flex justify-center items-center gap-x-2 text-start text-sm font-medium rounded-lg shadow-sm;
  color: white;
  background-color: $primary-color;
  &:hover {
    background-color: $link-color-hover;
  }
}

.resist-sidebar__title {
  flex: 0 0 70%;
}

.resist-sidebar__close {
  @apply flex justify-center items-center gap-x-3 size-6 bg-white border border-gray-200 text-sm text-gray-600 hover:bg-gray-100 rounded-full;
  &:focus-visible {
    @include focusVisible();
  }
  
}

.resist-sidebar__link {
  @apply flex items-center gap-x-3 py-2 px-2.5 text-sm rounded-lg hover:bg-gray-100;
  color: black;
  font-weight: 600;
}

.actions-header__left {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 5px;

  p {
    font-size: 14px;
  }
}

.actions-nav__title {
  font-family: "neulis-sans", sans-serif;
  font-weight: 900;
  font-size: 18px;
}

.hs-collapse-toggle {
  @apply inline-flex gap-x-1 text-sm font-semibold hover:underline;
  border: 1px solid $primary-color;
  padding: 5px;
  width: 68px;
  align-items: center;
  justify-content: space-evenly;
}



#hs-show-hide-collapse {
  span.read-less {
    display: none;
  }
}

#hs-show-hide-collapse.open {
  .show-toc {
    display: none !important;
  }

  span.hide-toc {
    display: block !important;
  }

  svg {
    transform: rotate(180deg);
  }
}

.action-section__title {
  font-family: "neulis-sans", sans-serif;
  font-weight: 900;
  font-size: 20px;
  text-transform: uppercase;
  margin-block: 15px;
}

.action-link__title {
  font-family: "neulis-sans", sans-serif;
  font-weight: 900;
  font-size: 18px;
  margin-block: 10px;

  a {
    display: inline-flex;
    align-items: center;
  }
}

.open-secrets {
  border-top: 1px solid $primary-color;
  margin-top: 20px;
  padding-top: 20px;
}

div.action {
  padding-inline: 10px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  @apply mx-auto mb-4 max-w-6xl bg-white border shadow-sm rounded-xl;
  border: 1px solid $primary-color;

  p {
    font-size: 16px;
    line-height: 1.75;
  }
}

.action-icon {
  flex: 0 1 150px;

  &.top {
    align-self: flex-start;
  }
}

.action-wrapper {
  @apply max-w-2xl;
  flex: 1;
}

.toc-nav {
  // box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  @apply shadow-lg;
}

.toc__item {
  @apply text-sm font-medium bg-white border border-gray-200;

  a {
    @apply py-3 px-4;
    display: block;
    font-family: "century-gothic", Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-style: normal;
  }
}

.money-image {
  border: 6px solid $primary-color;
  border-radius: 6px;
}

.no-actions-found {
  background-color: #efefef;
  border-radius: 8px;
  padding: 10px;
}

ul.resist-learning__list {
  padding-left: 10px;
  list-style-type: disc;

  li ul {
    margin-left: 15px;
    list-style-type: circle;

    ul {
      list-style-type: square;

      li {
        margin-left: 15px;
      }
    }
  }
}

.volunteer-btn,
.donate-btn,
.recovery-btn,
.education-btn {
  background-color: $link-color;
  color: white !important;
  padding: 10px;
  margin-block: 10px;

  &:hover,
  &:focus-visible {
    background-color: $link-color-hover;
    color: white;
  }
}

.action-items__list {
  gap: 10px;
}

.action-items {
  background-color: $link-color;
  color: white;
  padding: 10px;

  &:hover,
  &:focus-visible {
    background-color: $link-color-hover;
    color: white;
  }
}

@media screen and (max-width: 768px) {
  .action-items__list {
    li {
      flex: 0 1 100%;
    }
  }

  div.action {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .action-icon {
    flex: 1 0 100%;

    &.top {
      align-self: center;
    }
  }
}