@use "./variables" as *;
@use "sass:color" as color;

.org-header {
  padding-block: 15px;
  width: 100%;
  border: 1px solid $primary-color;
  border-bottom: none;
  padding-inline: 15px;
  border-radius: 12px 12px 0 0;
  position: relative;
  z-index: 1;
}

.org-wrapper {
  position: relative;
  overflow: hidden;
}

#orgUrlLink {
  background-color: white;
  color: $primary-color;
  // color: white;
  // background-color: $primary-color;
  // background-color: color.adjust($primary-color, $alpha: -0.5);
  // background-color: #fff;
  padding: 10px 10px;
  border-radius: 18px;
  text-shadow: none;
  &:hover,
  &:focus-visible {
    background-color: $primary-color;
    color: white;
  }
}

.org-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
  filter: brightness(0.3) grayscale(0.9) saturate(1.2) contrast(1);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 12px;
  background-color: $light-color;
}

.actions-nav__title {
  flex: 1 1 50%;
  text-align: center;
}

.org-header__title {
  font-family: "neulis-sans", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 25px;
  position: relative;
  color: white;
  text-shadow: 3px 3px 5px rgba(12, 6, 21, 0.88);
}

.content p.org-causes-title {
  color: white;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.level-left {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;

}

span.cause-tag {
  background-color: $primary-color;

  // margin-right: 5px;
  a {
    display: inline-block;
    color: #fff;
  }

  &:hover,
  &:focus-visible {
    background-color: $link-color-hover;
  }
}

.org-content {
  // background-color: white;
  color: white;
  border: 1px solid $primary-color;
  border-top: 0;
  border-radius: 0 0 12px 12px;
  padding-inline: 15px;
  position: relative;
  z-index: 100;
  text-shadow: 2px 2px 4px rgba(12, 6, 21, 0.88);
}

.org-section {
  padding-top: 10px;

  h2 {
    font-family: "neulis-sans", sans-serif;
    margin-bottom: 5px;
    font-size: 20px;

    // text-transform: uppercase;
    svg {
      margin-right: 5px;
    }
  }
}

.org-info {
  display: flex;
  flex-wrap: nowrap;
  gap: 15px;
}

.org-info {
  flex: 0 0 60%;
}

.org-contact {
  flex: 0 0 40%;
}

.social-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  text-align: center;

  span.tag {
    flex: 0 1 25%;
    border: 1px solid $primary-color;
    background-color: white;
    border-radius: 12px;
    padding: 2px 8px;
    // background-color: $primary-color;

    a {
      font-family: "neulis-sans", sans-serif;
      display: block;
      font-size: 14px;
      font-weight: 400;
      text-shadow: none;
      // color: white;
      color: $primary-color;
      text-shadow: none;
    }

    &:hover,
    &:focus-visible {
      background-color: $primary-color;
      border: 1px solid $primary-color;
      // background-color: $secondary-color;
      // border: 1px solid $secondary-color;
      a {
        color: white;
      }
    }
  }
}

.select-org {
  display: block;
  background-color: white;
  // background-color: $primary-color;
  // color: white;
  color: $primary-color;
  font-family: "neulis-sans", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  margin-top: 25px;
  text-align: center;
  padding-block: 10px;
  border-radius: 6px;

  &:hover,
  &:focus-visible {
    // background-color: $link-color-hover;
    background-color: $primary-color;
    color: white;
  }
}

.org-info {
  padding-bottom: 15px;
}

.qr-wrapper {
  padding-top: 10px;

  img {
    margin: 0 auto;
  }
}


.social-note {
  margin-top: 8px;
}

.social-info-icon {
  vertical-align: text-top;
}


@media screen and (max-width: 768px) {

  .org-info {
    flex-direction: column;
  }

  .org-info,
  .org-contact {
    flex: 0 0 100%;
  }

  .social-tags {
    span.tag {
      padding-block: 8px;
      flex: 0 1 100%;
    }
  }
}