$primary-color: #3F3F5B;
$secondary-color: #930500;
$border-color: #E6E1D0;
$light-color: #94B1C1;

$highlight-color: $secondary-color;

$link-color: $primary-color;
$link-color-hover: $secondary-color;
