

.resist-header {
  // background: #C20E03;
  background-color: #3F3F5B;
  border: 6px solid #E6E1D0;
  color: #E6E1D0;
  // justify-self: flex-start;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-container {
  flex: 0 1 60%;
}

.resist-header__image {
  flex: 0 1 40%;
}

.resist-header__title {
  font-size: 70px;
  // max-width: 60%;
  font-family: "neulis-sans", sans-serif;
  font-weight: 900;
  font-style: normal;
  line-height: 55px;
  text-transform: uppercase;
}

.resist-header__the {
  display: block;
  font-size: 30px;
  margin-bottom: -15px;
}

.resist-header__subtitle {
  font-size: 28px;
  font-family: "neulis-sans", sans-serif;
  font-weight: 300;
  font-style: normal;
  line-height: 30px;
}

@media screen and (max-width: 768px) {
  .resist-header__title {
    font-size: 60px;
  }
}

@media screen and (max-width: 640px) {
  .resist-header__title {
    font-size: 45px;
    line-height: 40px;
  }
  .resist-header__the {
    font-size: 20px;
  }
  .resist-header__subtitle {
    font-size: 20px;
    line-height: 25px;
  }
}

@media screen and (max-width: 640px) { 
  .resist-header__image {
    display: none;
  }
}