@use "src/styles/_variables" as *;

.resist-home__section {
  @apply max-w-6xl mx-auto py-6 lg:pt-8 px-4 pb-10;
}

.resist-start__section {
  @apply max-w-7xl;
  // border: 10px solid #3F3F5B;
  border: 10px solid $border-color;
  background-color: $primary-color;
  @apply rounded-xl;
  @apply shadow-xl;
  color: #E6E1D0;
}

.resist-steps__title {
  @apply font-black mb-0 text-center;
  font-family: "neulis-sans", sans-serif;
  font-size: 30px;
  text-transform: uppercase;
}
.resist-steps__subtitle {
  @apply mb-4 text-center;
  font-size: 20px;
}

@keyframes sheen {
  100% {
    transform: rotateZ(60deg) translate(1em, -9em);
  }
}
@keyframes glow {
  0%, 50% {
    box-shadow: 0 0 0px hsl(0, 100%, 50%);
  }
  90%, 100% {
    box-shadow: 0 0 40px hsl(0, 100%, 50%);
  }
}


.step-link {
  font-family: "neulis-sans", sans-serif;
  font-weight: 900;
  font-size: 25px;
  display: block;
  position: relative;
  animation: glow var(--ease-elastic-in-1) 2s infinite alternate;
  // outline: 5px solid transparent;
  outline: 5px solid $border-color;
  position: relative;
  background-color: $light-color;
  color: #000;
  padding-left: 15px;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  
  p {
    text-transform: capitalize;
  }
  &:hover, &:focus-visible, &:active {
    color:#E6E1D0;
    background-color: $link-color-hover;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    animation: none;
  }
  img {
    position: absolute;
    left: 0;
    top: 0;
    width: auto;
    max-height: 100%;
    border-radius: 8px 0 0 8px;
  }
}
.resist-featured__section {
  @apply pb-1;
  display: flex;
  gap: 15px;
  justify-content: center;
}

.resist-featured {
  flex: 0 1 30%;
  @apply flex flex-col bg-white border shadow-sm rounded-xl;
}

.resist-featured__header {
  @apply bg-gray-100 border-b rounded-t-xl py-2 px-4 md:py-2 md:px-5;
}

.resist-featured__header--title {
  @apply mt-1 text-sm inline-flex items-center;
  font-family: "neulis-sans", sans-serif;
}

.resist-featured__body {
  @apply p-4 md:p-5;
}
.resist-featured__body--title {
  @apply text-lg font-bold mb-2;
  color: #000;
  font-family: "neulis-sans", sans-serif;
}

.resist-featured__body--img {
  @apply mx-auto;
}


.resist-featured__body--text {
  @apply mt-2 text-gray-900;
}
.resist-featured__body--link {
  @apply mt-3 flex items-center gap-x-1 font-semibold rounded-lg border border-transparent hover:underline;
}


.downloads.resist-featured__section {
  flex-wrap: wrap;
}

.downloads.resist-steps__title {
  flex: 1 0 100%;
}

.downloads.resist-featured {
  flex: 0 1 calc(25% - 15px);
}

.downloads .resist-featured__body--link  {
  background-color: $link-color;
  @apply text-sm;
  font-weight: 400;
  color: white;
  padding: 5px 10px;
  display: inline-flex;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  &:hover, &:focus-visible, &:active {
    background-color: $link-color-hover;
  }
}


.resist-resource-card__img {
  @apply shrink-0 relative w-full rounded-t-xl overflow-hidden pt-[40%] sm:rounded-s-xl sm:max-w-60 md:rounded-se-none md:max-w-xs;
}

.thanks-link {
  color: white;
  text-decoration: underline;
  &:hover, &:focus-visible {
    color: $light-color;
  }
}

@media screen and (max-width: 915px) {
  .resist-featured__section {
   flex-wrap: wrap;
  }
  .resist-featured {
    flex: 0 1 70%;
  }
  .downloads.resist-featured {
    flex: 0 1 calc(50% - 15px);
  }
}

@media screen and (max-width: 768px) {
  .resist-start__section {
    @apply max-w-full w-full;
  }
  .resist-steps__title {
    font-size: 18px;
  }
  .step-link {
    font-size: 18px;
    padding: 35px 0px;
    img {
      width: 100px;
    }
    .step {
      display: none;
    }
  } 
  .resist-featured__body--img-wrapper {
    width: 50%;
    @apply mx-auto;
  }

  .downloads.resist-featured {
    flex: 0 1 70%;
  }

}

@media screen and (max-width: 640px) { 
  .step-link {
    font-size: 16px;
    padding: 25px 0px;
    img {
      width: 80px;
    }
    p {
      margin-left: 45px;
    }
  }
  .resist-featured__section {
    flex-direction: column;
  }
  .resist-featured {
    flex: 0 1 100%;
  }
  .downloads.resist-featured {
    flex: 0 1 100%;
  }
}
