@use "src/styles/_variables" as *;

.resist-home__section {
  @apply max-w-6xl mx-auto py-6 lg:pt-8 px-4 pb-10;
}

.resist-start__section {
  @apply max-w-7xl;
  border: 10px solid $primary-color;
  @apply rounded-xl;
  @apply shadow-xl;
  padding: 0;
}

.resist-steps__title {
  @apply font-black mb-0 text-center;
  font-family: "neulis-sans", sans-serif;
  font-size: 30px;
  text-transform: uppercase;
}
.resist-steps__subtitle {
  @apply mb-4 text-center;
  font-size: 20px;
}

@keyframes sheen {
  100% {
    transform: rotateZ(60deg) translate(1em, -9em);
  }
}
@keyframes glow {
  0%, 50% {
    box-shadow: 0 0 0px hsl(0, 100%, 50%);
  }
  90%, 100% {
    box-shadow: 0 0 40px hsl(0, 100%, 50%);
  }
}


.step-link {
  font-family: "neulis-sans", sans-serif;
  font-weight: 900;
  font-size: 25px;
  display: block;
  position: relative;
  animation: glow var(--ease-elastic-in-1) 2s infinite alternate;
  // outline: 5px solid transparent;
  outline: 5px solid $border-color;
  position: relative;
  background-color: $light-color;
  color: #000;
  padding-left: 15px;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  // transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  
  p {
    text-transform: capitalize;
  }
  &:hover, &:focus-visible, &:active {
    color:#E6E1D0;
    background-color: $link-color-hover;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    animation: none;
  }
  img {
    position: absolute;
    left: 0;
    top: 0;
    width: auto;
    max-height: 100%;
    border-radius: 8px 0 0 8px;
  }
}
.resist-featured__section {
  @apply pb-1;
  display: flex;
  gap: 15px;
  justify-content: center;
}


.every-day-banner, .resist-welcome__banner, .protest-banner {
  background-image: url('/HomeSectionBanner2.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
  h2 {
    font-size: 45px;
    font-weight: 900;
    color: white;
    // color: $border-color;
    text-transform: uppercase;
    margin-right: 20px;
    font-family: "neulis-sans", sans-serif;
    line-height: 1.15;
    // text-align: right;
    // text-shadow: 1px 3px 5px rgba(0,0,0,0.49);
    text-shadow: 1px 3px 6px rgba(0,0,0,0.65);
    // -webkit-text-stroke: 1px #000;
    // text-stroke: 1px #000;
  }
}
.resist-welcome__banner {
  margin-top: 0;
  margin-bottom: 25px;
  flex-direction: column;
  background-image: url('/WelcomeSectionBanner2.webp');
  h2 {
    -webkit-text-stroke: 0px transparent;
    text-stroke: 0px transparent;
  }
  h3 {
    color: white;
    text-shadow: 1px 3px 6px rgba(0,0,0,0.65);
  }
}
.protest-banner {
  background-image: url('/ProtestBanner.webp');
}

.protest__subtitle {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 25px;
}

#lightgallery {
  display: flex;
  justify-content: center;
  align-items: center;
  // background-color: #eeeff1;
  margin-block: 10px;
  // border: 1px solid #ccc;
  a {
    cursor: zoom-in;
  }
}

.protest__img {
  max-width: 500px;
  height: auto;
  filter: drop-shadow(0 1px 3px rgba(0,0,0,0.12)) drop-shadow(0 1px 2px rgba(0,0,0,0.24));
}

.lightGallery-thumb__subtitle {
  text-align: center;
  font-size: 14px;
  margin-top: 5px;
  color: #000;
}

.protest-content__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
  flex-direction: column;
  padding-inline: 20px;
  gap: 15px;
}

.protest__list-heading {
  margin-block: 10px;
  font-weight: 600;
}

.protest__list {
  li {
    margin-bottom: 15px;
  }
}


.resist-home__actions--wrapper {
  margin-top: 25px;
  border-radius: 12px;
  border: 10px solid $primary-color;
}


.resist-featured {
  flex: 0 1 calc(33% - 15px);
  @apply flex flex-col bg-white border shadow-sm rounded-xl;

  &.featured-tool {
    flex: 0 1 50%;
  }
}

.resist-featured__header {
  @apply bg-gray-100 border-b rounded-t-xl py-2 px-4 md:py-2 md:px-5;
}

.resist-featured__header--title {
  @apply mt-1 text-sm inline-flex items-center;
  font-family: "neulis-sans", sans-serif;
}

.resist-featured__body {
  @apply p-4 md:p-5;
}
.resist-featured__body--title {
  @apply text-lg font-bold mb-2;
  color: #000;
  font-family: "neulis-sans", sans-serif;
}

.resist-featured__body--img {
  @apply mx-auto;
  &.featured-tool {
    object-fit: contain;
    max-width: 70%;
  }
}


.resist-featured__body--text {
  @apply mt-2 text-gray-900;
  line-height: 1.65;
}


.resist-featured__body--link {
  @apply mt-3 flex items-center gap-x-1 font-semibold rounded-lg border border-transparent hover:underline;
}

.featured-tool .resist-featured__body--text {
  @apply max-w-2xl mx-auto;
}

.featured-tool__subtitle {
  font-size: 20px;
  line-height: 1.25;
  font-weight: 700;
}

.example-questions__list {
  @apply list-disc max-w-2xl mx-auto pl-6;
  li {
    @apply mb-1;
  }
}

#factBotForm {
  input {
    font-size: 16px;
  } 
}

.mobilize-website-link {
  margin-top: 40px;
}

.mobilize-link {
  // display: block;
  cursor: pointer;
  display: flex;
  // justify-content: center;
  align-items: center;
  background-color: $link-color;
  padding: 10px;
  color: white;
  margin-top: 10px;
  svg {
    margin-right: 5px;
  }
  &:hover, &:focus-visible, &:active {
    background-color: $link-color-hover;
    color: white;
  }
}

.mobilize-website-link {
  margin-top: 40px;
  .mobilize-link {
    // background-color: #2D28FF;
    text-align: center;
    justify-content: center;
    &:hover, &:focus-visible, &:active {
      // background-color: $link-color-hover;
      // color: white;
    }
  }
}

.downloads.resist-featured__section {
  flex-wrap: wrap;
}

.downloads.resist-steps__title {
  flex: 1 0 100%;
}

.downloads.resist-featured {
  flex: 0 1 calc(25% - 15px);
}

.downloads .resist-featured__body--link  {
  background-color: $link-color;
  @apply text-sm;
  font-weight: 400;
  color: white;
  padding: 5px 10px;
  display: inline-flex;
  // transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  &:hover, &:focus-visible, &:active {
    background-color: $link-color-hover;
  }
}

.resist-resource-card__img {
  @apply shrink-0 relative w-full rounded-t-xl overflow-hidden pt-[40%] sm:rounded-s-xl sm:max-w-60 md:rounded-se-none md:max-w-xs;
}

.thanks-link {
  // color: white;
  text-decoration: underline;
  &:hover, &:focus-visible {
    // color: $light-color;
  }
}

.resist-shop__section {
  display: flex;
  gap: 15px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.shop-subtitle {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  // margin-bottom: 25px;
}

.shop-link {
  background-color: $link-color;
  color: white;
  padding: 10px 15px;
  margin-bottom: 25px;
  text-align: center;
  font-weight: 900;
  &:hover, &:focus-visible, &:active {
    background-color: $link-color-hover;
    color: white;
  }
}

@media screen and (max-width: 915px) {
  .resist-featured__section {
   flex-wrap: wrap;
  }
  .resist-featured {
    flex: 0 1 70%;
  }
  .resist-featured.featured-tool {
    flex: 0 1 70%;
  }
  .downloads.resist-featured {
    flex: 0 1 calc(50% - 15px);
  }
}

@media screen and (max-width: 768px) {
  .resist-start__section {
    @apply max-w-full w-full;
  }
  .resist-steps__title {
    font-size: 18px;
  }
  .step-link {
    font-size: 18px;
    padding: 35px 0px;
    img {
      width: 100px;
    }
    .step {
      display: none;
    }
  } 
  .resist-featured__body--img-wrapper {
    width: 50%;
    @apply mx-auto;
  }

  .downloads.resist-featured {
    flex: 0 1 70%;
  }

}

@media screen and (max-width: 640px) { 
  .protest__img {
    max-width: 100%;
    height: auto;
  }
  .resist-welcome__banner {
    background-position: right center;
  }
  .step-link {
    font-size: 16px;
    padding: 25px 0px;
    img {
      width: 80px;
    }
    p {
      margin-left: 45px;
    }
  }
  .resist-featured__section {
    flex-direction: column;
  }
  .resist-featured {
    flex: 0 1 100%;
  }
  .featured-tool__subtitle {
    font-size: 16px;
    line-height: 1.25;
  }
  .downloads.resist-featured {
    flex: 0 1 100%;
  }
 .resist-welcome__banner h2  {
    font-size: 25px;
  }
}
