---
import '@styles/Causes-Page.scss';
import Layout from 'src/layouts/Layout.astro';
import { Image } from 'astro:assets';
import StepImg from '@assets/PickACauseBanner.png'
import CausePicker from 'src/components/CausePicker.astro';
---

<Layout 
  title="Featured Causes - Find a Cause to Support"
  description='A list of causes that need our help. Pick a cause and organization and take action. Join the fight against the politics of hate.'
  image=`${Astro.site}AllCauses-Share.png`
  imageAlt='Text reads Causes To Support. Next to the text is an illustration of a megaphone with sound waves coming out of it.'  
  >
  <header class="max-w-6xl mx-auto" slot="header">
    <Image class="no-touchy" src={StepImg} alt="Pick a cause." />
  </header>
  <div class="container max-w-6xl mx-auto">
    <section>
      <hr>
      <h1 class="font-bold my-2 text-center">Click on a cause to see organizations that support that cause!</h1>
      <CausePicker />
    </section>
  </div>
</Layout>

