---
import '@assets/styles/footer.scss';
---

<footer aria-label="Site footer" class="resist-grid-footer resist-footer">
  <div class="resist-footer__flex-wrap w-full max-w-[85rem] py-10 px-4 sm:px-6 lg:px-8 mx-auto flex justify-around">
    <div class="resist-footer__flex-content flex flex-col justify-center space-y-4">
      <p class="text-sm">
        &copy; 2025 All rights reserved.
      </p>
      <p class="text-sm">
        Made with ❤️ by The Resistance
      </p>
    </div>
    <div class="resist-footer__flex-content flex flex-col justify-center space-y-4 sm:my-4">
      <p class="text-sm">
        <a href="/accessibility">Accessibility Statement</a>
      </p>
      <p class="text-sm">
        <a href="/deia">DEIA Statement</a>
      </p>
      <p class="text-sm">
        <a href="/Privacy-Policy.pdf" target="_blank">Privacy Policy</a>
      </p>
      <p class="text-sm">
        <a href="/TermsConditions.pdf" target="_blank">Terms and Conditions</a>
      </p>
    </div>
  </div>
</footer>