---
import './Header.scss';
---

<header class="resist-header px-8">
  <div class="py-4">
    <h1 class="resist-header__title">
      <span class="resist-header__the">The</span> Resistance Toolkit
    </h1>
    <p class="resist-header__subtitle">Tools You Need To <span class="bold">Fight</span> Hate</p>
  </div>
</header>