$link-color: #3F3F5B;
$link-color-hover: #C20E03;


.action-section__title {
  font-family: "neulis-sans", sans-serif;
  font-weight: 900;
  font-size: 20px;
  text-transform: uppercase;
  margin-block: 15px;
}

.action-link__title {
  font-family: "neulis-sans", sans-serif;
  font-weight: 900;
  font-size: 18px;
  // text-transform: uppercase;
  margin-block: 10px;
}

div.action {
  padding-inline: 10px;
  padding-bottom: 20px;
  @apply mx-auto mb-4 max-w-6xl bg-white border shadow-sm rounded-xl;
}

.action-wrapper {
  @apply mx-auto max-w-4xl;
}

.toc__item {
  @apply py-3 px-4 text-sm font-medium bg-white border border-gray-200;  
  a {
    display: block;
  }
}

ul.resist-learning__list {
  padding-left: 10px;
  list-style-type: disc;
  li ul {
    margin-left: 15px;
    list-style-type: circle;
    ul {
      list-style-type: square;
      li {
        margin-left: 15px;
      }
    }
  }
}

.volunteer-btn, .donate-btn, .recovery-btn {
  background-color: $link-color;
  color: white;
  padding: 10px;
  margin-block: 10px;
  &:hover, &:focus-visible {
    background-color: $link-color-hover;
    color: white;
  }
}

.action-items__list {
  gap: 10px;
}

.action-items {
  background-color: $link-color;
  color: white;
  padding: 10px;  
  &:hover, &:focus-visible {
    background-color: $link-color-hover;
    color: white;
  }
}

@media screen and (max-width: 768px) {
  .action-items__list {
    li {
      flex: 0 1 100%;
    }
  }
}