// $footer-bg-color: #C20E03;
$footer-bg-color: #3F3F5B;
.resist-footer {
  background-color: $footer-bg-color;
  color: white;
  a {
    color: white;
    &:hover, &:focus-visible {
      text-decoration: underline;
    }
  }
}

.resist-footer__flex-wrap {
  @apply w-full max-w-[85rem] py-10 px-4 sm:px-6 lg:px-8 mx-auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.resist-footer__flex-content {
  @apply flex flex-col justify-center space-y-4 flex flex-col space-y-4 sm:my-4;
  flex: 0 1 33.33%;
  justify-content: center;
  // align-items: center;
}

.resist-social__wrapper {
  @apply grid grid-cols-12 gap-4;
  justify-items: center;
}

.resist-social__link {
  @apply col-span-4;
  transition: all 0.2s;
  a {    
    display: inline-block;
    svg path {
      transition: fill 0.3s cubic-bezier(.25,.8,.25,1);
    }
  }
}

a.bsky:hover, a.bsky:focus-visible {
  svg path {
    fill: #1285FE;
  }
}

a.mastodon:hover, a.mastodon:focus-visible {
  svg path {
    fill: #5D51E7;
  }
}

a.pixelfed:hover, a.pixelfed:focus-visible {
  svg path {
    fill: #F32748;
  }
}

@media screen and (max-width: 919px) {
  .resist-footer__flex-wrap {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .resist-footer__flex-content {
    margin-block: 15px;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
    margin-bottom: 0px;
    border-bottom: thin solid white;
    &:last-of-type {
      border-bottom: none;

    }
  }
}