---
import Nav from "../components/Nav.astro"
import Layout from '../layouts/Layout.astro'
---

<Layout>
  <Nav />
  <main class="cause-page">
    <div class="column is-6 is-offset-3">
      <slot />
    </div>
  </main>
</Layout>

