@use "src/styles/_variables" as *;

@mixin focusVisible {
  outline: 3px solid white;
  box-shadow: 0 0 0 6px black;
  z-index: 4;
}

.no-touchy {
 pointer-events: none;
 user-select: none;
}

.external-link {
  svg {
    display: inline-block;
    vertical-align: middle;
    padding: 0;
    margin: 0;
    // @apply size-3;
  }
}

body {
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: min-content min-content 2.5fr min-content; 
    gap: 0px 0px; 
    grid-template-areas: 
      "nav"
      "header"
      "main"
      "footer"; 
  .resist-grid-nav { grid-area: nav; }
  .resist-grid-header { grid-area: header; }
  .resist-grid-main { grid-area: main; }
  .resist-grid-footer { grid-area: footer; }
}

a, .hs-collapse-toggle, div.action p a {
  @apply text-blue-800;
  transition: color 0.3s cubic-bezier(.25,.8,.25,1), background-color 0.3s cubic-bezier(.25,.8,.25,1);
  &:hover, &:active {
    color: $link-color-hover;
  }
  &:focus-visible {
    @include focusVisible();
    color: $link-color-hover;
  }
}
.logo-container {
  position: relative;
}

.skip-to-main:focus-visible {
  padding: unset;
  margin: unset;
  overflow: unset;
  clip: unset;
  white-space: unset;
  border-width: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 900 !important;
  width: 200px;
  height: 50px;
  background-color: white;
  padding: 10px;
}

.resist-button__causes {
  background-color: $link-color;
  color: white;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  &:hover, &:focus-visible, &:active {    
    background-color: $link-color-hover;
    color: white;
  }
}

.resist-button__about {
  background-color: white;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  &:hover, &:focus-visible, &:active {    
    background-color: $link-color-hover;
    color: white;
  }
}

.resist-about {
  p {
    margin-block: 15px;
  }
}

.back-home {
  display: inline-flex;
  align-items: center;
  padding: 10px;
  background-color: #003f61;
  color: white;
  svg {
    margin-right: 5px;
  }
  &:hover, &:focus-visible {
    background-color: #C20E03;
    color: white;
  }
}

.resist-about__title {
  font-family: "neulis-sans", sans-serif;
  font-weight: 900;
  font-size: 25px;
  text-transform: uppercase;
  margin-block: 15px;
}
.resist-about__secondary-title {
  font-family: "neulis-sans", sans-serif;
  font-weight: 900;
  font-size: 18px;
  text-transform: uppercase;
  margin-block: 15px;
}

.contribute-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #003f61;
  color: white;
  svg {
    margin-right: 5px;
  }
  &:hover, &:focus-visible {
    // background-color: #C20E03;
    background-color: $link-color-hover;
    color: white;
  }
}

.resist-about__list {
  margin-block: 15px;
  list-style-type: disc;
  li {
    margin-block: 10px;
    font-weight: 700;
  }
  li ul {
    margin-block: 10px;
    margin-inline-start: 20px;
    list-style-type: circle;
    li {
      font-weight: 400;
    }
  }
}

.resist-recover__card-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.resist-card {
  flex: 0 1 calc(25% - 10px);
}

@media screen and (max-width: 1090px) {
  .resist-card {
    flex: 1 1 calc(33.33% - 10px);
  }  
  .resist-card:nth-last-child(1):is(:nth-child(odd)) {
    .resist-recover__card--img-container {
      max-width: 50%;
      @apply mx-auto;
      img {
        object-fit: contain;
        border-radius: 0px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .resist-card {
    flex: 1 1 calc(50% - 10px);
  }
}
@media screen and (max-width: 640px) {
  html, body {
    // font-size: 16px;
  }

  .resist-card {
    flex: 1 1 100%;
  }
  .resist-card:nth-last-child(1):is(:nth-child(odd)) {
    .resist-recover__card--img-container {
      max-width: 100%;
      width: 100%;
      @apply mx-auto;
      img {
        object-fit: unset;
        @apply rounded-t-xl;
      }
    }
  }
}

