@mixin focusVisible {
  outline: 3px solid white;
  box-shadow: 0 0 0 6px black;
  z-index: 4;
}

.hidden {
  // display: unset;
  // display: block;
  // visibility: hidden;
  // height: 0px;
}

body {
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: min-content min-content 2.5fr min-content; 
    gap: 0px 0px; 
    grid-template-areas: 
      "nav"
      "header"
      "main"
      "footer"; 
  .resist-grid-nav { grid-area: nav; }
  .resist-grid-header { grid-area: header; }
  .resist-grid-main { grid-area: main; }
  .resist-grid-footer { grid-area: footer; }
}


$link-color: #003f61;
$link-color-hover: #C20E03;

a, .hs-collapse-toggle {
  color: $link-color;
  &:hover {
    color: $link-color-hover;
  }
  &:focus-visible {
    @include focusVisible();
    color: $link-color-hover;
  }
}
.logo-container {
  position: relative;
}

.skip-to-main:focus-visible {
  padding: unset;
  margin: unset;
  overflow: unset;
  clip: unset;
  white-space: unset;
  border-width: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 900 !important;
  width: 200px;
  height: 50px;
  background-color: white;
  padding: 10px;
}

.resist-button__causes {
  background-color: #003f61;
  color: white;
  &:hover, &:focus-visible {
    background-color: #C20E03;
    color: white;
  }
}

.resist-button__about {
  background-color: white;
  &:hover, &:focus-visible {
    background-color: #C20E03;
    color: white;
  }
}

.resist-about {
  p {
    margin-block: 15px;
  }
}

.back-home {
  display: inline-flex;
  align-items: center;
  padding: 10px;
  background-color: #003f61;
  color: white;
  svg {
    margin-right: 5px;
  }
  &:hover, &:focus-visible {
    background-color: #C20E03;
    color: white;
  }
}

.resist-about__title {
  font-family: "neulis-sans", sans-serif;
  font-weight: 900;
  font-size: 25px;
  text-transform: uppercase;
  margin-block: 15px;
}
.resist-about__secondary-title {
  font-family: "neulis-sans", sans-serif;
  font-weight: 900;
  font-size: 18px;
  text-transform: uppercase;
  margin-block: 15px;
}

.contribute-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #003f61;
  color: white;
  svg {
    margin-right: 5px;
  }
  &:hover, &:focus-visible {
    background-color: #C20E03;
    color: white;
  }
}

.resist-about__list {
  margin-block: 15px;
  list-style-type: disc;
  li {
    margin-block: 10px;
    font-weight: 700;
  }
  li ul {
    margin-block: 10px;
    margin-inline-start: 20px;
    list-style-type: circle;
    li {
      font-weight: 400;
    }
  }
}

.resist-recover__card-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.resist-card {
  flex: 0 1 calc(33.333% - 10px);
}

@media screen and (max-width: 768px) {
  .resist-card {
    flex: 0 1 calc(50% - 10px);
  }
}
@media screen and (max-width: 640px) {
  .resist-card {
    flex: 0 1 100%;
  }
}

.resist-recovery__title {
  font-family: "neulis-sans", sans-serif;
  font-weight: 900;
  font-size: 25px;
  text-transform: uppercase;
  margin-block: 15px;
}
.resist-recovery__button {
  @apply mt-2 py-2 px-3 inline-flex justify-center items-center gap-x-2 text-sm font-medium rounded-lg text-white;
  background-color: #003f61;
  &:hover, &:focus-visible {
    background-color: #C20E03;
    color: white;
    cursor: pointer;
  }
}

.start-again-btn {
  // display: block;
  background-color: #003f61;
  color: white;
  font-family: "neulis-sans", sans-serif;
  font-weight: 900;
  font-size: 16px;
  padding: 20px;
  margin-top: 15px;
  &:hover, &:focus-visible {
    background-color: #C20E03;
    color: white;
    cursor: pointer;
  }
}