---
import './Layout.scss'
import { ClientRouter } from 'astro:transitions';
import GA from '../components/GA.astro';
import ComingSoon from '../components/ComingSoon.astro';

const ENV = import.meta.env.PROD;
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>The Resistance Toolkit</title>
		<link rel="stylesheet" href="https://use.typekit.net/bqf4wdd.css">
		<ClientRouter />
		<!-- Google tag (gtag.js) -->
		{import.meta.env.PROD === true && <GA /> }
	</head>
	<body>
		<div class="content">			
			<slot />
		</div>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
