@use "bulma" as *;

html, body {
  background-color: #eee;
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}

.skip-to-main {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 400;
  background-color: white;
  padding: 10px;
}

.header-wrapper {
  background: #C20E03;
  border: 6px solid #E6E1D0;
  
}

.left-header {
  // border: 6px solid #E6E1D0;
  // border-bottom: none;
  background: #C20E03;
  color: #E6E1D0;
  text-transform: uppercase;
  h1 {    
    font-size: 70px;
    max-width: 60%;
    font-family: "neulis-sans", sans-serif;
    font-weight: 900;
    font-style: normal;
    line-height: 55px;
    span {
      display: block;
      font-size: 30px;
      margin-bottom: -15px;
    }
  }
  p {
    font-size: 30px;
    font-family: "neulis-sans", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
}

.right-header {
  // background: #94B1C1;
  color: white;
  display: flex;
  flex-flow:column;
  justify-content: center;
  align-items: center;
  // border: 6px solid #E6E1D0;
  // border-left: none;
}

.steps-title {
  font-family: "neulis-sans", sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 20px;
}

.home-steps {
  li {
    
    // border-bottom: thin solid #000;
    margin-bottom: 15px;
    &:last-of-type {
      margin-bottom: 0;
      border-bottom: none;
    }
  }
}

.step-link {
  font-family: "neulis-sans", sans-serif;
  font-weight: 900;
  font-size: 20px;
  display: block;
  outline: 5px solid transparent;
  // justify-content: space-between;
  // align-items: center;
  position: relative;
  @extend .py-4;
  // color:#E6E1D0;
  background-color: #94B1C1;
  color: #000;
  padding-left: 15px;
  p {
    margin-left: 92px;
  }
  &:hover {
    color:#E6E1D0;
    background-color: #C20E03;
    outline: 5px solid #E6E1D0;
  }

  img {
    position: absolute;
    left: 0;
    top: 0;
    width: auto;
    max-height: 100%;
  }
}

.bold {
  font-weight: 900;
}

.italic {
  font-style: italic;
}

p {
  line-height: unset;
  margin: unset;
  // line-height: 25px;
  margin-block: 15px;
}